<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout::adminlayout(~{::th:block})}">

<head>
	<meta charset="UTF-8">
	<title>Quản lý Chương trình</title>

</head>

<body>

	<div class="container mt-4">
		<th:block>
			<!-- Thông báo thành công -->
			<div th:if="${param.success}" class="alert alert-success">
				Đổi mật khẩu thành công!
			</div>

			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Reset Password</div>
						<th:block th:if="${msg}">
							<p class="text-center fs-4 text-success" th:text="${msg}"></p>
						</th:block>
						<div class="card-body">
							<form th:action="@{/admin/user/changePassword}" method="post">

								<div class="mb-3">
									<label>Old Password</label> <input type="password" name="oldPassword"
										class="form-control">
								</div>

								<div class="mb-3">
									<label>New Password</label> <input type="password" name="newPassword"
										class="form-control">
								</div>

								<button class="btn btn-primary col-md-12">Chang Password</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			</form>
		</th:block>

	</div>
</body>

</html>