<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout::adminlayout(~{::th:block})}">

<head>
	<meta charset="UTF-8">
	<title>Quản lý ảnh chương trình</title>

</head>

<body>

	<div class="container-fluid mt-4">

    <th:block>

        <!-- HEADER -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="fw-bold text-primary mb-0">
                <i class="bi bi-images me-2"></i> HÌNH ẢNH CHƯƠNG TRÌNH
            </h4>

            <a th:href="@{/admin/program-images/create}"
               class="btn btn-primary shadow-sm px-4">
                <i class="bi bi-plus-circle me-1"></i> Thêm Ảnh
            </a>
        </div>


        <!-- SEARCH CARD 
        <div class="card border-0 shadow-sm rounded-4 mb-4">
            <div class="card-body">
                <form th:action="@{/admin/categories}" method="get" class="row g-3 align-items-center">

                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text bg-white">
                                <i class="bi bi-search text-muted"></i>
                            </span>
                            <input type="text"
                                   name="keyword"
                                   class="form-control border-start-0"
                                   placeholder="Tìm theo tên danh mục..."
                                   th:value="${keyword}">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-outline-primary w-100">
                            Tìm kiếm
                        </button>
                    </div>

                </form>
            </div>
        </div>
     -->

        <!-- TABLE CARD -->
        <div class="card border-0 shadow-lg rounded-4">
            <div class="card-body p-0">

                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">

                        <thead class="table-light text-center">
                            <tr class="text-uppercase small text-muted">
                                <th>ID</th>
                                <th class="text-start">Chương trình</th>
                                <th>Url</th>
                                <th>isThumbnail</th>
                                <th>Ngày Tạo</th>
                                <th width="170">Hành động</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr th:each="i : ${programImages}" class="text-center">

                                <td class="fw-semibold" th:text="${i.id}"></td>

                                <td class="text-start fw-semibold text-dark"
                                    th:text="${i.program.title}"></td>

                                <td>
									<img th:src="${i.imageUrl}"
									width="80" height="60" style="object-fit:cover; border-radius:6px;" />
								</td>

                               
                               

                                <td>
                                    <span th:if="${i.isThumbnail == 'ACTIVE'}"
                                          class="badge bg-success-subtle text-success px-3 py-2 rounded-pill">
                                        Thumbnail
                                    </span>

                                    <span th:if="${i.isThumbnail != 'ACTIVE'}"
                                          class="badge bg-secondary-subtle text-secondary px-3 py-2 rounded-pill">
                                        is Not Thumbnail
                                    </span>
                                </td>
                                   <td th:text="${i.createdAt}">
									
								</td>
                                <td>
                                    <a th:href="@{'/admin/program-images/edit/' + ${i.id}}"
                                       class="btn btn-sm btn-outline-warning me-2 rounded-pill px-3">
                                        <i class="bi bi-pencil-square"></i>Sửa
                                    </a>

                                    <a th:href="@{'/admin/program-images/delete/' + ${i.id}}"
                                       onclick="return confirm('Xóa ảnh này?')"
                                       class="btn btn-sm btn-outline-danger rounded-pill px-3">
                                        <i class="bi bi-trash"></i>xóa
                                    </a>
                                </td>

                            </tr>

                            <!-- NO DATA -->
                            <tr th:if="${programImages.content.size() == 0}">
                                <td colspan="6" class="text-center text-muted py-5">
                                    <i class="bi bi-inbox fs-4 d-block mb-2"></i>
                                    Không có dữ liệu
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>
        </div>


        <!-- PAGINATION -->
        <div class="d-flex justify-content-between align-items-center mt-4">

            <div class="text-muted small">
                Tổng: <strong>[[${totalItems}]]</strong> |
                Trang <strong>[[${currentPage}]]</strong> /
                <strong>[[${totalPages}]]</strong>
            </div>

            <nav>
                <ul class="pagination pagination-sm mb-0">

                    <!-- Prev -->
                    <li class="page-item"
                        th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{'/admin/program-images/list/' + ${currentPage - 1}}">
                            «
                        </a>
                    </li>

                    <!-- Pages -->
                    <li class="page-item"
                        th:each="i:${#numbers.sequence(1,totalPages)}"
                        th:classappend="${i==currentPage}? 'active'">
                        <a class="page-link"
                           th:href="@{'/admin/program-images/list/'+${i}}"
                           th:text="${i}"></a>
                    </li>

                    <!-- Next -->
                    <li class="page-item"
                        th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{'/admin/program-images/list/' + ${currentPage + 1}}">
                            »
                        </a>
                    </li>

                </ul>
            </nav>

        </div>

    </th:block>

</div>
</body>

</html>